<baseFooter  th:fragment="baseFooter"  xmlns:th="http://www.w3.org/1999/xhtml">
<footer class="footer">
    <div class="container">
        <p class="copyright">Copyright ©2018 Fresco</p>
        <p class="credit">Made By <a href="https://appload.ge/">AppLoad</a></p>
    </div>
    <!-- /.container -->
</footer>
<a href="#" class="buttontop-top"><i class="fa fa-arrow-up"></i></a>
</div>
<!-- #page -->
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="/js/general-scripts.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>
</baseFooter>